dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 0.2rem solid var(--text-alt);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: var(--primary_transparent);
    transition: 0.5s;
    color: var(--text-alt);
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  dialog > h3 {
    width: 100%;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 250%;
    border-bottom: 0.1rem solid var(--text-alt);
    margin-bottom: 1rem;
  }
  
  dialog > h3:not(:first-child) {
    margin-top: 2rem;
  }
  
  dialog > button {
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    width: 95%;
    height: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .label-container {
    font-family: "Comfortaa", sans-serif;
    display: block;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
  }
  
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 10%;
    display: grid;
    place-items: center;
    background-color: var(--text);
    transition: var(--transition_duration) background-color;
  }
  
  .checkmark:after {
    content: " ";
    display: none;
    border-radius: 10%;
    background-color: var(--text);
    height: 1rem;
    width: 1rem;
  }
  
  .label-container:hover input ~ .checkmark {
    background-color: rgb(163, 163, 163);
  }
  
  .label-container input:checked ~ .checkmark {
    background-color: var(--text-alt);
  }
  
  .label-container input:checked ~ .checkmark:after {
    display: block;
    animation: selectionAnimation 0.2s ease-out;
  }
  
  [data-theme="dark"] {
    .checkmark,
    .checkmark:after {
      background-color: var(--text-alt);
    }
    .label-container input:checked ~ .checkmark {
      background-color: var(--text);
    }
  }
  
  .btn-dialog-confirm {
    background-color: rgb(54, 173, 54);
  }
  
  .btn-dialog-close {
    background-color: rgb(150, 41, 41);
    margin-bottom: 1rem;
  }
  
  .btn-dialog-close,
  .btn-dialog-confirm {
    border-radius: 1rem;
    transition: var(--transition_duration) background-color;
  }
  
  .btn-dialog-close:hover {
    background-color: color-mix(in srgb, #962929 80%, #fff 20%);
  }
  
  .btn-dialog-confirm:hover {
    background-color: color-mix(in srgb, #36ad36 80%, #fff 20%);
  }
  
  @keyframes selectionAnimation {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }