/* --- HEADER --- */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100svh - var(--nav_height) - var(--footer_height));
  background-image: url("../../public/pexels-raybilcliff-1507754.jpg");
  background-color: darkcyan;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  outline: 1px solid red;

  h2 {
    font-family: "Comfortaa", sans-serif;
    color: white;
    border-left: 0.3rem solid white;
    border-top: 0.3rem solid white;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: fit-content;
    padding: 0.5rem;
    font-size: 220%;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5;
  }
}

header:after {
  opacity: 0;
  content: "";
  display: block;
  z-index: 4;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  transition: var(--transition_duration) opacity;
}

[data-theme="dark"] {
  header:after {
    opacity: 1;
  }
}

.header-container {
  position: relative;
  z-index: 5;
  margin-left: 5vw;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-container input[type="submit"] {
  font-family: "Comfortaa", sans-serif;
  margin-block: 2rem;
  border-radius: 1rem;
  background-color: rgb(228, 53, 53);
  border: 0.2rem solid var(--text);
  width: 90vw;
  height: 8svh;
  color: var(--text);
  cursor: pointer;
  font-size: 200%;
  letter-spacing: 0.5rem;
  transition: var(--transition_duration) background-color,
    var(--transition_duration) border-color,
    var(--transition_duration) color;
}

.header-container input[type="submit"]:hover {
  background-color: color-mix(in srgb, red 50%, var(--text-alt) 50%);
}

.button-container {
  position: relative;
}

.button-container:nth-child(1) > button {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 0.2rem solid var(--text);
  border-bottom: 0.05rem solid var(--text);
}

.button-container:nth-child(2) > button {
  border-inline: 0.2rem solid var(--text);
  border-bottom: 0.05rem solid var(--text);
}

.button-container:nth-child(3) > button {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 0.2rem solid var(--text);
  border-right: 0.2rem solid var(--text);
  border-bottom: 0.2rem solid var(--text);
}

.button-container {
  flex-basis: 100%;
  width: 100%;
}

.button-container > button {
  background-color: var(--background_transparent);
  backdrop-filter: blur(5px);
  color: var(--text);
  width: 100%;
  height: 7svh;
  font-family: "Space Grotesk", sans-serif;
  font-size: 120%;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition_duration),
    letter-spacing var(--transition_duration);
}

.button-container > button:hover {
  background-color: var(--hover_color);
  letter-spacing: 0.1rem;
}

.button-container > button > p {
  letter-spacing: 0.05rem;
  font-weight: bold;
}


@media screen and (min-width: 1000px) {
  .header-container {
    margin-left: 0;
  }
  .header-container input[type="submit"] {
    height: 5svh;
  }
}
