@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');


:root {
  --text: #040401;
  --text-alt: #fefefb;
  --background: #f7f7e4;
  --primary: #241c69;
  --secondary: #23b8b8;
  --accent: #8521b1;
  --transition_duration: 0.4s;
  --nav_height: 6svh;
}

[data-theme="dark"] {
  --text: #fefefb;
  --text-alt: #040401;
  --background: #131534;
  --primary: #4982ed;
  --secondary: #47dc6e;
  --accent: #bf6fe2;

  #theme-btn {
    transform: rotateZ(180deg);
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  transition: var(--transition_duration);
}

nav {
  background-color: var(--primary);
  height: var(--nav_height);
  display: flex;
  transition: var(--transition_duration);
  font-family: 'Space Grotesk', sans-serif;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    color: var(--text);
    text-decoration: none;
    background-color: var(--secondary);
    border-radius: 2rem;
    transition: background-color var(--transition_duration), color var(--transition_duration);
  }

  a:hover {
    background-color: var(--accent);
  }
}

nav > div {
  display: flex;
  align-items: center;
}

.left-nav {
  width: 40%;

  a {
    margin-inline: 4%;
  }
}

.right-nav {
  width: 60%;
  justify-content: right;
  position: relative;

  

  #theme-btn {
    background-color: var(--secondary);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition_duration);
  }
}

.menu-container {
  outline: 1px solid green;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;

  .menu-icon {
    background-color: var(--primary);
    height: fit-content;
    border-bottom-left-radius: 0.5rem;
    border-left: 0.2rem solid #fefefb;
    border-bottom: 0.2rem solid #fefefb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--nav_height) - 0.1rem);
    width: var(--nav_height);
    transition: var(--transition_duration) background-color;
  }

  .menu-content {
    background-color: var(--primary);
    transition: var(--transition_duration) background-color;
    border-left: 0.2rem solid #fefefb;
    border-bottom: 0.2rem solid #fefefb;
    border-bottom-left-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a, button {
      margin-bottom: 0.5rem;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (min-width: 1000px) {
  .menu-content a {
    margin-inline: 2%;
    margin-bottom: 0 !important;
  }
  .menu-content button {
    margin: 0 !important;
  }
  .menu-container {
    width: 100%;
    display: block !important;
    position: static !important;
  }
  .menu-icon {
    display: none !important;
  }
  .menu-content {
    outline: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: right !important;
    border: none !important;
  }
}
