@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');


:root {
  --text: #040401;
  --text-alt: #fefefb;
  --background: #f7f7e4;
  --primary: rgb(36, 28, 105);
  --primary_transparent: rgba(36, 28, 105, 0.6);
  --secondary: #23b8b8;
  --accent: #8521b1;
  --transition_duration: 0.4s;
  --nav_height: 8svh;
  --nav_min_size: 50px;
}

[data-theme="dark"] {
  --text: #fefefb;
  --text-alt: #040401;
  --background: #131534;
  --primary: rgb(73, 130, 237);
  --primary_transparent: rgba(73, 130, 237, 0.6);
  --secondary: #323fb1;
  --accent: #bf6fe2;
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  transition: var(--transition_duration);
  overflow-x: hidden;
}
