[data-theme="dark"] {
    #theme-btn {
        transform: rotateZ(180deg);
    }
}

nav {
    background-color: var(--primary);
    height: var(--nav_height);
    display: flex;
    transition: var(--transition_duration);
    font-family: 'Space Grotesk', sans-serif;
    z-index: 5;

    a:not(.logo) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: calc(var(--nav_height) * 0.7);
        color: var(--text);
        text-decoration: none;
        background-color: var(--secondary);
        border-radius: 2rem;
        transition: background-color var(--transition_duration), color var(--transition_duration);
    }

    a:not(.logo):hover {
        background-color: var(--accent);
    }
}

nav>div {
    display: flex;
    align-items: center;
}

.left-nav {
    width: 80%;

    a {
        margin-inline: 1%;
        width: 42%;
    }

    .logo {
        width: fit-content;
        display: grid;
        align-items: center;
        margin-left: 0;
    }

    img {
        height: var(--nav_height);
        width: var(--nav_height);
    }
}

.right-nav {
    width: 20%;
    justify-content: right;
    position: relative;

    #theme-btn {
        background-color: var(--secondary);
        border: none;
        border-radius: 50%;
        transition: var(--transition_duration);
        height: calc(var(--nav_height) * 0.7);
        width: calc(var(--nav_height) * 0.7);
        display: grid;
        place-items: center;
    }
}

.menu-container {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0;
    transform: translateX(calc(100% - var(--nav_height)));
    transition: transform var(--transition_duration);
    z-index: 10;

    .menu-icon {
        background-color: var(--primary);
        height: fit-content;
        border-bottom-left-radius: 0.5rem;
        border-left: 0.2rem solid #fefefb;
        border-bottom: 0.2rem solid #fefefb;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--nav_height) - 0.1rem);
        width: var(--nav_height);
        transition: var(--transition_duration) background-color;
    }

    .menu-content {
        background-color: var(--primary);
        transition: var(--transition_duration) background-color;
        border-left: 0.2rem solid #fefefb;
        border-bottom: 0.2rem solid #fefefb;
        border-bottom-left-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a,
        button {
            margin-bottom: 0.5rem;
        }
    }
}

header {
    height: 200px;
}

@keyframes rotation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@media screen and (min-width: 1000px) {
    :root {
        --nav_height: 6svh;
    }

    .left-nav {
        width: 40%;

        a {
            width: 10rem;
            margin-inline: 4%;
        }
    }

    .right-nav {
        width: 60%;

        #theme-btn>svg {
            width: 32px;
            height: 32px;
        }
    }

    .menu-content a {
        margin-inline: 2%;
        margin-bottom: 0 !important;
    }

    .menu-content button {
        margin: 0 !important;
    }

    .menu-container {
        width: 100%;
        display: block !important;
        position: static !important;
        transform: none !important;
    }

    .menu-icon {
        display: none !important;
    }

    .menu-content {
        width: 100%;
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: right !important;
        border: none !important;
    }
}