main {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 100%;
    margin: 0.8rem;
    color: var(--text-alt);
    display: grid;
    grid-template-columns: 100%;
    background-color: color-mix(in srgb, var(--primary) 30%, var(--secondary) 70%);
    border: 0.3rem solid var(--text);
    border-radius: 1rem;
}

.card {
    padding: 2rem;
    font-family: "Comfortaa", sans-serif;

    h3 {
        font-size: 200%;
    }

    ul {
        list-style-type: none;
    }
}

.card:not(.card:last-child) {
    border-bottom: 0.2rem solid var(--text);
}
